! Font
UXTerm.vt100.faceName: DejaVu Sans Mono for Powerline
UXTerm.vt100.faceSize: 11

UXTerm.vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

! special
UXTerm.vt100.foreground:  rgb:ba/bd/b6
UXTerm.vt100.background:  rgb:00/00/00

UXTerm.vt100.cursorColor: rgb:ba/bd/b6

! black
UXTerm.vt100.color0:       #2e3436
UXTerm.vt100.color8:       #555753

! red
UXTerm.vt100.color1:       #cc0000
UXTerm.vt100.color9:       #ef2929

! green
UXTerm.vt100.color2:       #4e9a06
UXTerm.vt100.color10:      #8ae234

! yellow
UXTerm.vt100.color3:       #c4a000
UXTerm.vt100.color11:      #fce94f

! blue
UXTerm.vt100.color4:       #3465a4
UXTerm.vt100.color12:      #729fcf

! magenta
UXTerm.vt100.color5:       #75507b
UXTerm.vt100.color13:      #ad7fa8

! cyan
UXTerm.vt100.color6:       #06989a
UXTerm.vt100.color14:      #34e2e2

! white
UXTerm.vt100.color7:       #d3d7cf
UXTerm.vt100.color15:      #eeeeec

